<h1>Burger App!</h1>

<div class="wrapper">
  <div class="row">
    <div class="col-sm-6">
      <h2>Burgers that are devoured!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <h3>Add Burger!</h3>
      <div class="form-group">
        <label for="bg">Burger Name:</label>
        <input type="text" id="bg" name ="burger_name">
      </div>
      <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

</div>