<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}Devoured!{{/if}}
	</button>

	<button class="devoured" data-id="{{this.id}}">Devoured!</button>
</li>